<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/home.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div>
        <div class="font-serif text-center lg:text-3xl text-xl lg:py-9 py-5">Books Directory</div>
        <div class="text-center"> <a href="/add" class="font-serif lg:text-xl text-sm lg:p-1 hover:underline ">(Click to
                add)</a></div>
        <div class="flex flex-row flex-wrap justify-around">

            <% data.forEach((item,index) =>{%>
           
            <div class="max-w-sm rounded overflow-hidden shadow-lg py-5 ">
                <img class="w-screen " src=<%=item.imageLink%> alt=<%=item.title%> />
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 space-x-4"><a href=<%=item.link%> id=t<%=index%>><%=item.title%></a>
                       <button id=<%=index%> onclick="onDelete(this.id)"> 
                        <svg  xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block"
                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>

                       </button>
                        

                    </div>
                    <p><%=item.author%></p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%=item.language%></span>
                    <span
                        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%=item.country%></span>
                    <span
                        class="inline-block bg-green-200 rounded-full px-3 py- text-sm font-semibold text-green-700 mr-2 mb-2">Year
                        : <%=item.year%></span>
                </div>
            </div>
            <!-- </a> -->
            <%});%>

            <!-- <ul>
        <% data.forEach((item) =>{%>
        <li><%=item.title%></li>
        <%});%>
    </ul> -->
        </div>

    </div>


</body>

</html>